body{

background:#0f0f0f;
color:#e6d8a8;
font-family:serif;

}

.container{

width:750px;
margin:auto;
text-align:center;

}

select,input,textarea{

background:#111;
color:white;
padding:6px;
margin:5px;

}

button{

background:#222;
border:1px solid gold;
color:#e6d8a8;
padding:6px;
cursor:pointer;

}

.skillSuggestion{

cursor:pointer;
padding:4px;

}

.skillIcon{

width:30px;
vertical-align:middle;
margin-right:5px;

}